/*font-family: 'Darker Grotesque', sans-serif;*/
/*font-family: 'Julius Sans One', sans-serif;*/
/*font-family: 'Syne', sans-serif;*/

body {
    font-family: 'Syne', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: white;
    line-height: 1.4em;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    margin: 0;
}

hr {
    border-bottom: none;
    margin: 0;
}

/*header - nav*/

.nav_bar > * {
    margin: auto 0;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 0 1.2rem 0;
}

.nav_text {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: 0.17em;
}

.header_logo {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 1.875rem;
    letter-spacing: 0.2em;
}

.icon {
    display: block;
    max-width: 1.5rem;
    max-height: 1.5rem;
}

/*header - header*/

.header {
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
}

.header_text {
    margin-left: 80px;
    flex-direction: column;
    max-width: 380px;
    max-height: 400px;
    border: 1px solid black;
    display: flex;
    align-items: stretch;
}

.header1 {
    line-height: 1.4em;
    margin: 35px 35px 80px 35px;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.button {
    text-decoration: none;
    display: block;
    color: white;
    padding: 6px 50px;
    margin: 0 110px 55px 110px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 400;
    background: black;
    max-height: 36px;
    max-width: 300px;
    align-content: center;
}

.img {
    margin: 20px;
}

/*new items*/

.section_new_items {
    margin: 100px 0 180px 0;
}

.items_wrapper {
    display: flex;
    justify-content: space-between;
}

.header2 {
    margin-bottom: 60px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.item {
    max-width: 350px;
    max-height: 700px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.item_img {
    margin: 20px 25px 20px 25px;
}

.header3 {
    letter-spacing: 0.1rem;
    font-size: 1.25rem;
    padding: 0 195px 15px 25px;
}

.header4 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 0 195px 20px 25px;
}

/*email*/

.mail_wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 45px 0;
}

.header5 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
}

.img_mail {
    max-height: 200px;
    max-width: 255px;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    display: block;
    font-size: 1rem;
    height: 32px;
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
    background: #ffffff;
}

.mail_sender {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0 0.5rem;
}

/*section favourites*/

.section_favourites {
    padding: 100px 0 180px 0;
}

.favourites_wrapper .header2 {
    margin: 0;
}

.header6 {
    font-size: 1.75rem;
    text-decoration: underline;
    padding: 60px 0 60px 0;
}

/*footer*/

.footer p {
    color: #FFFFFF;
    margin: 0.7rem 0;
}

.footer {
    background-color: black;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 65px 0 80px 0;
}

.header7 {
    color: #FFFFFF;
    font-size: 1.25rem;
    text-decoration: underline;
}

.footer_logo {
    max-width: 216px;
    max-height: 225px;
}